{% load i18n material_form material_frontend static %}
<div class="formset-field"
     data-formset-prefix="{{ preferences.prefix }}">
    <div data-formset-body="">
        {% if preferences.forms|length %}
        <ul class="collection">
            {% for form in preferences.forms %}
            <li class="collection-item" data-formset-form="">
                <div class="row">
                    <div class="input-field col s6"
                         id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-preferred_container">
                        <label class="item-label active">
                            {{ form.preferred.label }}
                        </label>
                        {{ form.instance.preferred }}
                    </div>
                    <div class="input-field col s5"
                         id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-rank_container">
                        <label class="item-label active">
                            {{ form.rank.label }}
                        </label>
                        {{ form.instance.rank }}
                    </div>
                    <input
                            type="hidden"
                            name="{{ preferences.prefix }}-{{ forloop.counter0 }}-id"
                            id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-id"
                            value="{{ form.instance.id|default:'' }}">
                    <input type="hidden"
                           name="{{ preferences.prefix }}-{{ forloop.counter0 }}-preference"
                           value="{{ form.instance.preference_id|default:'' }}"
                           id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-preference">
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="collection-item"
             id="no-preferences-mark">{% trans 'No preferences' %}
        </div>
        {% endif %}
    </div>
</div>