{% load i18n material_form material_frontend static %}
<div class="formset-field"
     data-formset-prefix="{{ preferences.prefix }}">
    <div data-formset-body="">
        {% if preferences.forms|length %}
        <ul class="collection">
            {% for form in preferences.forms %}
            <li class="collection-item" data-formset-form="">
                <div class="row">
                    <div class="btn col s1" data-formset-delete-button="">
                        <i class="material-icons">clear</i>
                    </div>
                    <div class="errors">
                        <small class="error">{{ form.errors }}</small>
                    </div>
                    <div class="input-field col s6"
                         id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-preferred_container">
                        <label class="item-label active"
                               for="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-preferred">
                            {{ form.preferred.label }}
                        </label>
                        {{ form.preferred }}
                    </div>
                    <div class="input-field col s5"
                         id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-rank_container">
                        {{ form.rank }}
                        <label class="item-label active"
                               for="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-rank">
                            {{ form.rank.label }}
                        </label>
                    </div>
                    <input
                            type="hidden"
                            name="{{ preferences.prefix }}-{{ forloop.counter0 }}-id"
                            id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-id"
                            value="{{ form.instance.id|default:'' }}">
                    <input type="hidden"
                           name="{{ preferences.prefix }}-{{ forloop.counter0 }}-preference"
                           value="{{ form.instance.preference_id|default:'' }}"
                           id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-preference">
                    <input type="checkbox"
                           name="{{ preferences.prefix }}-{{ forloop.counter0 }}-DELETE"
                           id="id_{{ preferences.prefix }}-{{ forloop.counter0 }}-DELETE">
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="collection-item"
             id="no-preferences-mark">{% trans 'No preferences' %}
        </div>
        {% endif %}
        <script type="form-template"
                data-formset-empty-form>
            <div data-formset-form="">
                <div class="row">
                    <div class="btn col s1" data-formset-delete-button="">
                        <i class="material-icons">clear</i>
                    </div>
                    <div class="errors">
                        <small class="error">{{ preferences.empty_form.errors }}</small>
                    </div>
                    <div class="input-field col s6"
                         id="id_{{ preferences.prefix }}-__prefix__-preferred_container">
                        <label class="item-label active"
                               for="id_{{ preferences.prefix }}-__prefix__-preferred">
                            {{ preferences.empty_form.preferred.label }}
                        </label>
                        {{ preferences.empty_form.preferred }}
                    </div>
                    <div class="input-field col s5"
                         id="id_{{ preferences.prefix }}-__prefix__-rank_container">
                        {{ preferences.empty_form.rank }}
                        <label class="item-label active"
                               for="id_{{ preferences.prefix }}-__prefix__-rank">
                            {{ preferences.empty_form.rank.label }}
                        </label>
                    </div>
                    <input
                            type="hidden"
                            name="{{ preferences.prefix }}-__prefix__-id"
                            id="id_{{ preferences.prefix }}-__prefix__-id"
                            value="{{ form.instance.id|default:'' }}">
                    <input type="hidden"
                           name="{{ preferences.prefix }}-{{ forloop.counter0 }}-preference"
                           value="{{ form.instance.preference_id|default:'' }}"
                           id="id_{{ preferences.prefix }}-__prefix__-preference">
                    <input type="checkbox"
                           name="{{ preferences.prefix }}-__prefix__-DELETE"
                           id="id_{{ preferences.prefix }}-__prefix__-DELETE">
                </div>
            </div>
        </script>
    </div>
    <a class="btn-floating waves-effect waves-light red z-depth-2 right"
       data-formset-add
       data-file-inline-add data-turbolinks="false">
        <i class="large material-icons"
           onclick="$('#no-preferences-mark').remove();">add</i>
    </a>
    {{ preferences.management_form }}
</div>