{% load i18n material_form material_frontend static %}
<ul>
    <li><a href="{% url 'references:organization_list' %}">{% trans 'Organizations' %}</a></li>
    <li><a href="{% url 'references:tender_list' %}">{% trans 'Tenders' %}</a></li>
</ul>
