{% load static %}
{# {% if not debug %} #}
<script src="{% static 'material/js/materialize.frontend.min.js' %}"></script>
{# {% else %} #}
<script src="{% static 'material/js/turbolinks.js' %}"></script>
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
<script src="{% static 'material/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'material/js/jquery.activeNavigation.js' %}"></script>
<script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'material/js/jquery.formset.js' %}"></script>
<script src="{% static 'material/js/perfect-scrollbar.jquery.js' %}"></script>
<script src="{% static 'material/js/dataTables.fixedHeader.js' %}"></script>
<script src="{% static 'material/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'material/js/materialize.js' %}"></script>
<script src="{% static 'material/js/materialize.forms.js' %}"></script>
<script src="{% static 'material/js/materialize.frontend.js' %}"></script>

<script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>

<script src="{% static 'edms/js/jquery.autocomplete.js' %}"></script>
<script src="{% static 'edms/js/edms.frontend.js' %}"></script>
<!-- <script src="{% static 'edms/js/tabs.js' %}"></script>
<script src="{% static 'edms/js/dropdown.js' %}"></script>
<script src="{% static 'edms/js/short_menu.js' %}"></script>
<script src="{% static 'edms/js/module-button.js' %}"></script>
<script src="{% static 'edms/js/chainedfields.js' %}"></script>
<script src="{% static 'edms/js/setfilename.js' %}"></script>
<script src="{% static 'edms/js/contactperson.js' %}"></script> -->
{# {% endif %} #}