{% extends current_module.base_template %}
{% load i18n material_form material_frontend static %}
{% block content %}
    {% block left-panel %}
        <div class="left-panel

                {% if action_form or cl.date_hierarchy or cl.list_filter or cl.search_fields %}{% else %} wide{% endif %}">
            <div class="card">
                <div class="card-content">
                    <a href="{% url 'pairs:stable_pairs' %}" class="btn">{% trans 'Back' %}</a>
                    <div class="row">
                        <div class="col s6">
                            <b class="row">
                                {% trans 'Preferences of sponsors' %}
                            </b>
                            {% for k, v in A.items %}
                            <div class="row">
                                {{ k }} :
                                {% for preference in v %}
                                {{ preference }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col s6">
                            <b class="row">
                                {% trans 'Preferences of organizations' %}
                            </b>
                            {% for k, v in B.items %}
                            <div class="row">
                                {{ k }} :
                                {% for preference in v %}
                                {{ preference }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <b class="item-label active" for="result">
                        {% blocktrans %} res for {{ method }}{% endblocktrans %}:</b>
                    <div class="row" id="result">
                    {% for k, v in res.items %}
                        <div class="row">
                            {{ k }}: {{ v }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock left-panel %}
{% endblock %}