{% extends current_module.base_template %}
{% load i18n material_form material_frontend static %}
{% block content %}
    {% block left-panel %}
        <div class="left-panel

                {% if action_form or cl.date_hierarchy or cl.list_filter or cl.search_fields %}{% else %} wide{% endif %}">
            <div class="card">
                <form method="POST" id="stable_pair_form">
                    <div class="card-content">
                        {% csrf_token %}
                        <div class="row radio-field">
                            <div class="col s12">
                                <label for="id_method_0" class="">{{ form.method.label }}</label>
                            </div>
                            <div class="col s12 required" id="id_method_container">
                                {% for method in form.method %}
                                <div class="radio col s4" id="id_method">
                                    {{ method.tag }}
                                    <label class="item-label" for="id_method_{{ forloop.counter0 }}">
                                        {{ method.choice_label }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <input type="submit" class="btn" value="{% trans 'Get solve' %}">
                    </div>
                </form>
            </div>
        </div>
    {% endblock left-panel %}
{% endblock %}