{% load i18n material_form material_frontend static %}
<ul>
    {% if request.user.is_superuser %}
    <li><a href="{% url 'pairs:sponsorpreference_list' %}">{% trans 'Preferences of Sponsors' %}</a></li>
    <li><a href="{% url 'pairs:organizationpreference_list' %}">{% trans 'Preferences of Organizations' %}</a></li>
    {% else %}
    {% if request.user.organization.is_sponsor %}
    <li><a href="{% url 'pairs:sponsorpreference_list' %}">{% trans 'Preferences' %}</a></li>
    {% else %}
    <li><a href="{% url 'pairs:organizationpreference_list' %}">{% trans 'Preferences' %}</a></li>
    {% endif %}
    {% endif %}
    <li><a href="{% url 'pairs:stable_pairs' %}">{% trans 'Stable Pairs' %}</a></li>
</ul>