{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel wide">
    <div class="card">
        <div class="card-content">
            {% block card %}
                <div class="card-title">{{ view.model|verbose_name|title }}: {{ object }}</div>
                {% block actions_row %}
                    {% if perms.pairs.delete_preference %}
                        <a class="waves-effect waves-light btn red white-text"
                           href="{% url 'pairs:organizationpreference_delete' object.pk %}">{% trans 'Delete' %}</a>
                    {% endif %}
                    {% if perms.pairs.change_preference %}
                        <a class="waves-effect waves-light btn white-text"
                           href="{% url 'pairs:organizationpreference_change' object.pk %}">{% trans 'Change' %}</a>
                    {% endif %}
                {% endblock actions_row %}
                {% block form %}
                    {% if view.layout or form.layout %}
                        {% if view.layout %}
                            {% form layout=view.layout %}{% endform %}
                        {% endif %}
                        {% if form.layout %}
                            {% form layout=form.layout %}{% endform %}
                        {% endif %}
                    {% else %}
                        {% form %}{% endform %}
                        {% for name, formset in formsets.items %}
                            <table>
                                {{ formset.as_table }}
                            </table>
                        {% endfor %}
                    {% endif %}
                    {% if preferences_readonly %}
                        {% include 'preferences/detail.html' %}
                    {% else %}
                        {% include 'preferences/form.html' %}
                    {% endif %}
                 {% endblock %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% endblock %}
