{% extends current_module.base_template %}
{% load i18n material_form material_frontend static %}
{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
{% if object.pk %}<a href="{% url view.model|frontend_urlname:'detail' object.pk %}">{{ object }}</a>{% endif %}
<a class="active">{% if object.pk %}{% trans 'Change' %}{% else %}{% trans 'Add' %}{% endif %}</a>
{% endblock %}
{% block content %}
    {% block left-panel %}
        <div class="left-panel

                {% if action_form or cl.date_hierarchy or cl.list_filter or cl.search_fields %}{% else %} wide{% endif %}">
            <div class="card">
                <form method="POST" id="preference_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="card-title">
                            {% if object.pk %}
                                {{ view.model|verbose_name|title }}:
                                {{ object }}
                            {% else %}
                                {% trans 'Add' %}
                                {{ view.model|verbose_name|title }}
                            {% endif %}
                        </div>
                         {% block submit_row %}
                            <input type="submit" class="btn" value="{% trans 'Save' %}">
                         {% endblock %}
                         {% block form %}
                            {% if view.layout or form.layout %}
                                {% if view.layout %}
                                    {% form layout=view.layout %}{% endform %}
                                {% endif %}
                                {% if form.layout %}
                                    {% form layout=form.layout %}{% endform %}
                                {% endif %}
                            {% else %}
                                {% form %}{% endform %}
                                {% for name, formset in formsets.items %}
                                    <table>
                                        {{ formset.as_table }}
                                    </table>
                                {% endfor %}
                            {% endif %}
                            {% if preferences_readonly %}
                                {% include 'preferences/detail.html' %}
                            {% else %}
                                {% include 'preferences/form.html' %}
                            {% endif %}
                         {% endblock %}
                    </div>
                </form>
            </div>
        </div>
    {% endblock left-panel %}
{% endblock %}