{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{% block title %}{% endblock %}</title>
    {% block favicon %}
    <link href="{% static 'material/imgs/favicon.png' %}"
          rel="shortcut icon">
    {% endblock %}
    {% block css %}
    {% include 'material/frontend/includes/material_css.html' %}{% endblock css %}
    {% block js %}
    {% include 'material/frontend/includes/material_js.html' %}{% endblock js %}
    {% block extrahead %}{% endblock %}
    {% endblock head %}
</head>
<body class="{% block bodyclass %}with-sidebar{% endblock %}">
{% block body %}
<header>
    {% block header %}

    <ul id="slide-out" class="side-nav fixed"
        data-turbolinks-permanent>
        {% block sidenav_header %}

        <li>
            <div class="userView">
                <a class="mybutton burger-position"><i
                        class="material-icons"
                        style="color: white">menu</i></a>
                <img class="background"
                     src="{% static 'material/imgs/sidenav.svg' %}">
                {% block userphoto %}
                {% if user.photo.url %}
                <a class="visible" href="#"><img
                        class="circle"
                        src="{{ user.photo.url }}"></a>
                {% else %}
                <a class="visible" href="#"><img
                        class="circle"
                        src="{% static 'material/imgs/user.png' %}"></a>
                {% endif %}
                {% endblock %}
                <a class="visible" href="#"><span
                        class="white-text name">{{ request.user.get_full_name }}</span></a>
                <a class="visible" href="#"><span
                        class="white-text email">{{ request.user.email }}</span></a>
            </div>
        </li>
        {% endblock %}
        {% block sidenav_items %}
        {% for module in modules %}
        {% if current_module == module %}
        <li class="active">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a href="{{ module.index_url }}"
                       class="collapsible-header active"
                       data-turbolinks="false">
                                            <span class="visible">
                                                {{ module.verbose_name }}
                                            </span>
                        {{ module.icon|safe }}
                    </a>
                    <div class="collapsible-body"
                         style="display:block;">
                        <div class="visible">
                            {% include module.menu %}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        {% else %}
        <li {% if forloop.last %}class="last" {% endif %}>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a href="{{ module.index_url }}"
                       class="collapsible-header invisible"
                       data-turbolinks="false">
                                            <span class="visible">
                                                {{ module.verbose_name }}
                                            </span>
                        {{ module.icon|safe }}
                    </a>
                    <div class="collapsible-body invisible"
                         style="display:none;">
                        <div class="visible">
                            {% include module.menu %}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        <script>
                        $('.collapsible-header.invisible:not(.active)').click(function(){
                            $(this).addClass('active');
                        });
                        $('.collapsible-header.invisible.active').click(function(){
                            $(this).removeClass('active');
                        });

        </script>
        {% endblock sidenav_items %}
    </ul>
    {% endblock %}
</header>
<main>
    {% block main %}
    {% block topbar %}
    <div id="head-img" style="background: #424242 url({% static '/edms/icon/fly.png' %})no-repeat left;"></div>
    <nav class="topbar" style="background: none;">
        <div class="nav-wrapper">
            <a href="#" data-activates="slide-out"
               class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="brand-logo">
                {% block page_title %}{% endblock %}
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block topbar_links %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"
                       data-turbolinks="false"><i
                        class="material-icons right">exit_to_app</i>{% trans "Logout" %}
                </a></li>
                {% else %}
                <li><a href="{% url 'login' %}"
                       data-turbolinks="false"><i
                        class="material-icons right">lock_open</i>{% trans "Login" %}
                </a></li>
                {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>
    {% endblock topbar %}
    {% block breadcrumbs %}
    <nav class="breadcrumbs" style="background: none">
        <div class="nav-wrapper">
            {% block breadcrumbs_items %}{% endblock %}
        </div>
    </nav>
    {% endblock %}
    {% block main_content %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock main_content %}
    {% endblock main %}
</main>
<footer>
    {% block footer %}{% endblock footer %}
</footer>
{% endblock %}
{% block messages %}
{% if messages %}
<script id="messages" type="text/javascript">
            $(document).one('turbolinks:load', function () {
                {% for message in messages %}
                    Materialize.toast('{{ message|capfirst }}', 10000, 'alert-{{ message.tags }}')
                {% endfor %}
            });

</script>
{% endif %}
{% endblock messages %}
</body>
</html>
